body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
}

.h11{
    color: red;
}

.fast{
    width: 50%;
    padding: 4%;
}

.fast img{
    width: 70%;
}

#fast-s-p{
    margin-bottom: 50px;
    margin-top: 50px;
}

.button{
    text-decoration: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}