body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

p{
    text-align: justify;
}


.fspad{
    display: flex;
    padding-top: 2em;
    margin-left: 30px;
}

.h-font{
    font-size: 30px;
    line-height: 40px;
    border-left: 5px solid rgb(0, 128, 64);
    padding-left: 20px;
    
}

.h11{
    color: red;
}

#p-1{
    margin-top: 50px;
}
.fast{
    width: 50%;
    padding: 4%;

}

.fast img{
    width: 75%;

}

#fast-s-p{
    margin-bottom: 50px;
    margin-top: 50px;
}

.button{
    text-decoration: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.ssmi{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    
}

.shed{
    text-align: center;
    font-size: 50px;
}
.shedco{
    color: chocolate;
}
.m-i img{
    width: 45%;
}

.m-1{
    background-color: rgb(216, 209, 199);
    border-radius: 30px;
    width: 25%;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

.m-2{
    background-color: rgb(167, 154, 179);
    border-radius: 30px;
    width: 25%;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

.m-3{
    background-color: rgb(156, 189, 190);
    border-radius: 30px;
    width: 25%;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

.trdse img{
    width: 30%;
}

.trdse{
    display: flex;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.trdhed{
    color: darkgreen;
    font-size: 25px;
    line-height: 15px;

}

.trdsec{
    margin-left: 10%;
    margin-right: 10%;
}

#trdbutton{
    padding-top: 20px;
}

.sec3{
    padding-top: 20px;
}

.frdse{
    display: flex;
    padding-top: 100px;
}

.frdimg img{
    width: 65%;
    
}

.frdpa{
    padding-right: 140px;
    padding-left: 180px;    
}

.frdhead{
    font-size: 30px;
    line-height: 18px;
}

.header{
    font-size: 20px;
    text-align: center;
    background-color: cadetblue;
    margin-top: 100px;
    padding: 10px 0px;
    
}
.hedsp{
    color: white;
}


.hedp{
    text-align: center;
    
}

.bosec{
    display: flex;
    margin: 100px 100px 10px 200px;
}
.bospn{
    color: violet;
}
.bohed{
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
}

.boseim img{
    width: 60%;
}
.bosep{
    margin-top: 100px;
}


.mainoo{
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
}
.bosecmain{
    
    color: rgb(224, 221, 12);
}

.subscribe{
    text-align: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.6699054621848739) 100%);
    padding: 20px 20px 45px 20px;
    margin: 0px 150px 0px 150px;
    border-radius: 10px;
    

}
.newsl{
    font-size: 25px;
}

.news{
    color: firebrick;
}

.input{
    font-size: 25px;
}
